<body style="background: #CCC; margin:0; padding:20px 0">
    <div style="background: #D5D5D5; max-width:600px; margin: 0 auto;">
    <div class="main" style="background-color: #f0f0f0; padding: 20px 30px 40px 30px; color: #212224; font-size: 16px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; text-align:left;">
    <h1 style="color: #2264bc">Email Update</h1><br />
    Dear {{clientName}} Customer,
    <br /><br />
    Your email have successfully been updated.<br />
    Please ensure you keep your account details secure at all times.
    <br /><br />
    For further support, please visit email {{supportSiteEmail}}
    <br /><br /><br />
    Sincerely,<br />
    The Team
    </div>
    <div class="footer" style="background: #ffffff; padding: 20px 0 20px 0; color: #cccccc; font-size: 12px; text-align: center;">
    COPYRIGHT © 2022 X INFINITY
    </div>
    </div>
    </body>
    