<body style="background: #CCC; margin:0; padding:20px 0">
    <div style="margin:20px auto 0 auto; max-width:600px"></div>
    <div style="background: #D5D5D5; max-width:600px; margin: 0 auto;">
      <div class="main" style="background-color: #1F1F39; padding: 20px 30px 40px 30px; color: #fff; font-size: 16px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; text-align:left;">
        <h1 style="color: #e9b7ff">Nft Purchase</h1>
        Dear {{clientName}} Customer,
        <br /><br />
        Your have purchased item {{productName}}. Your transaction ID: {{txn}}.
        <br /><br /><br />

        Sincerely,<br />
        The {{clientName}} Team
      </div>
      <div class="footer" style="background: #0f171f; padding: 20px 0 20px 0; color: #e9b7ff; font-size: 12px; text-align: center;">
        COPYRIGHT © 2021 LightLink
      </div>
    </div>
  </body>
