files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      rm -rf /opt/elasticbeanstalk/hooks/appdeploy/pre/*.bak
      file=/tmp/.npm
      if [ -e "$file" ]; then
      chown -R nodejs:nodejs /tmp/.npm
      else
      echo "File does not exist"
      fi
